/* Scss Document */

#alert-banner {
	
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 10000;
	margin: 0;
	padding: 0;
	
	.alert-banner-button-container {
		background: $brandColor;
		width: 100%;
		margin: 0;
		padding: 0;
		text-align: center;
	}
	
	.alert-banner-button-container:hover {
		background: lighten($brandColor, 10%);
	}
	
	button {
		border: none;
		color: $white;
		padding: .5em;
		margin: .5em 0;
		white-space: normal;
		text-decoration: underline;
		text-decoration-style: solid;
		text-transform: initial;
		line-height: 1.6;
	}
	#accordion-alert-button:hover,
	#accordion-alert-button:focus,
	#accordion-alert-button:active {
		text-decoration: none;
		font-weight: bold;
	}
	
	#alert-body {
		margin: 0 auto;
        min-width: 320px;
        padding: 2em 10%;
        position: relative;
        text-align: left;
		background: $white;
		
		h1 {
			font-size: 1.8em;
			margin-bottom: .3em;
		}
		.teaser {
			font-size: 1.2em;
		}
		
		ol, ul {
			margin-left: 2em;
		}
		
		.disclaimer {
			font-size: .8em;
			text-align: right;
		}
		
	}
}

