/* Scss Document */

#alert-banner {
	background: $brandColor;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 10000;
	margin: 0;
	padding: .5rem;
	
	button {
		border: none;
		color: $white;
		padding: 0;
		margin: 0;
		white-space: normal;
		text-decoration: underline;
		text-decoration-style: solid;
		text-transform: initial;
		line-height: 1.6;
	}
}