/* Backgrounds */

#home {
    background: 
        url(../img/background/covers/trees_2400.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#institutions {
    background: linear-gradient(rgba(19, 112, 28, 0.5), rgba(19, 112, 28, 0.5)),
     url(../img/background/covers/china_2400.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#providers {
    background: linear-gradient(rgba(54, 37, 100, 0.5), rgba(54, 37, 100, 0.5)),
    url(../img/background/covers/old-willow_2400.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#collegeRetailers {
    background: linear-gradient(rgba(140, 80, 24, 0.5), rgba(140, 80, 24, 0.5)),
    url(../img/background/covers/weeping-willow_2400.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#contact {
    background: linear-gradient(rgba(19, 112, 28, 0.5), rgba(19, 112, 28, 0.5)),
    url(../img/background/covers/bridge_2400.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

// 362564 54, 37, 100
// 8C5018 140, 80, 24