$white: #FFF;
$black: #000;

$brandColor: #13701C; //19, 112, 28

$primaryColor: #000;
$accentColor: #A56324;

$spinAccentColor: complement($accentColor);
$accentColorOrange: #a46026;

$body: #124235;

/* http://paletton.com/#uid=52P0u0kqFg0fDr2llllvFb0HQ6p */

/* https://color.adobe.com/create/color-wheel/?copy=true&base=2&rule=Triad&selected=0&name=Copy%20of%20Color%20Theme%203&mode=rgb&rgbvalues=0.07409638906657808,0.44,0.10831399453733544,0.21553184252493365,0.14699917635939672,0.39901960784313717,0.09367717136297188,0.3490196078431372,0.11755560953725377,0.5490196078431372,0.3142024124606951,0.09245538742710274,0.6490196078431372,0.38812211867304613,0.14174645624348184&swatchOrder=0,1,2,3,4 */

// 362564 54, 37, 100
// 8C5018 140, 80, 24