/* Background image definitions for ID Cards */
#idCardCarasJames .idImage {
    background-image: url("../img/investors/caras_james.jpg");
}
#idCardEicherTodd .idImage {
    background-image: url("../img/investors/eicher_todd.jpg");
}
#idCardMartinsonJames .idImage {
    background-image: url("../img/investors/martinson_james.jpg");
}
#idCardUniversityVentures .idImage {
    background-image: url("../img/investors/university_ventures_logo.jpg");
}
#idCardUniversityVentures img {
	width: 100%;
	margin-bottom: 1em;
}



