/* Background image definitions for ID Cards */
#idCardPearson .idImage {
    background-image: url("../img/partners_industry/Pearson Logo.png");
}
#idCardCarnegieLearning .idImage {
    background-image: url("../img/partners_industry/Carnegie Logo.png");
}
#idCardBibliotech .idImage {
    background-image: url("../img/partners_industry/Bibliotech Logo.png");
}
#idCardTexidium .idImage {
    background-image: url("../img/partners_industry/Texidium Logo.png");
}
#idCardAmplifier .idImage {
    background-image: url("../img/partners_industry/Amp Logo.png");
}
#idCardCatalystEducation .idImage {
    background-image: url("../img/partners_industry/Catalyst Logo.png");
}
#idCardSchoology .idImage {
    background-image: url("../img/partners_industry/Schoology Logo.png");
}
#idCardD2L .idImage {
    background-image: url("../img/partners_industry/D2L Logo.png");
}
#idCardCanvas .idImage {
    background-image: url("../img/partners_industry/Canvas Logo.jpeg");
}
#idCardBlackboard .idImage {
    background-image: url("../img/partners_industry/Blackboard Logo.jpeg");
}
#idCardMoodle .idImage {
    background-image: url("../img/partners_industry/Moodle Logo.png");
}
#idCardAPA .idImage {
    background-image: url("../img/partners_industry/APA Logo.png");
}
#idCardNelson .idImage {
    background-image: url("../img/partners_industry/Nelson Logo.png");
}
#idCardNebraskaRatex .idImage {
    background-image: url("../img/partners_industry/Nebraska Logo.png");
}
#idCardICBA .idImage {
    background-image: url("../img/partners_industry/ICBA Logo.png");
}
#idCardNACS .idImage {
    background-image: url("../img/partners_industry/NACS Logo.jpeg");
}

