/* Background image definitions for ID Cards */
#idCardBerzinskiKatherine .idImage {
    background-image: url("../img/team/berzinski_katherine.jpg");
}
#idCardCornJake .idImage {
    background-image: url("../img/team/corn_jake.jpg");
}
#idCardChandlerShannon .idImage {
	background-image: url("../img/team/chandler_shannon.jpg");
}
#idCardDaffornScott .idImage {
    background-image: url("../img/team/dafforn_scott.jpg");
}
#idCardGappmeyerThomas .idImage {
    background-image: url("../img/team/gappmeyer_thomas.jpg");
}
#idCardGeigerSean .idImage {
    background-image: url("../img/team/geiger_sean.jpg");
}
#idCardHallAndy .idImage {
    background-image: url("../img/team/hall_andy.jpg");
}
#idCardHallMegan .idImage {
    background-image: url("../img/team/hall_megan.jpg");
}
#idCardHangerMatt .idImage {
    background-image: url("../img/team/hanger_matt.jpg");
}
#idCardMcKainKate .idImage {
    background-image: url("../img/team/mckain_kate.jpg");
}
#idCardSmithBrad .idImage {
    background-image: url("../img/team/smith_brad.jpg");
}
#idCardSponsellerAmi .idImage {
    background-image: url("../img/team/sponseller_ami.jpg");
}
#idCardStruyfBernard .idImage {
    background-image: url("../img/team/struyf_bernard.jpg");
}
#idCardMullineauxJosh .idImage {
	background-image: url("../img/team/mullineaux_josh.jpg");
}
#idCardCappellaCepluchHeather .idImage {
	background-image: url("../img/team/cappella_cepluch_heather.jpg");
}
#idCardMcKeeverCrystal .idImage {
	background-image: url("../img/team/mckeever_crystal.jpg");
}
/* New team grid */
.team-grid {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
	grid-template-rows: 1fr;
	gap: 40px 20px;
}